* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}

header {
  position: relative;
  padding: 20px 0;
  background-color: aliceblue;
}
.menu {
  display: flex;
  width: 500px;
  margin: auto;
  text-align: center;
}
.menu > li {
  width: calc(100% / 3);
  position: relative;
  top: 20px;
}
.menu > li > a {
  display: block;
  padding: 15px 0;
  background-color: rgb(186, 223, 255);
}
.menu > li:hover > a {
  background-color: rgb(97, 167, 228);
}

.submenu {
  display: none;
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  background-color: rgb(255, 203, 203);
  z-index: 99;
}
.submenu > li > a {
  display: block;
  padding: 20px 0;
  color: #fff;
}

.submenu > li:hover > a {
  background-color: rgb(255, 143, 143);
}

.header-bg {
  display: none;
  width: 100%;
  height: 300px;
  position: absolute;
  top: 94px;
  left: 0;
  background-color: rgba(196, 153, 153, 0.3);
}

.submenu.active {
  display: block;
}
.header-bg.active {
  display: block;
}
